/* 전체 컨테이너의 스타일링 */
.react-chatbot-kit-chat-container {
  border-radius: 10px; /* 보더 레디어스 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
  border-radius: 35px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 300;

  @media screen and (max-width: 350px) {
    right: 20px;
  }
}
.react-chatbot-kit-chat-inner-container {
  border-radius: 20px;
}

.react-chatbot-kit-chat-message-container {
  overflow-x: hidden;
}

.react-chatbot-kit-user-avatar-container {
  display: none;
}
.react-chatbot-kit-chat-bot-avatar-container {
  border-radius: 0;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%, 100%;
}
.react-chatbot-kit-chat-bot-avatar-letter {
  display: none;
}
/* 파란 부분의 컬러 변경 */
.react-chatbot-kit-chat-header,
.react-chatbot-kit-chat-btn-send,
.react-chatbot-kit-chat-btn-send-icon {
  background-color: #83e681;
}

.react-chatbot-kit-chat-input {
  border-bottom-right-radius: 15px;
}
.react-chatbot-kit-chat-bot-message-arrow {
  border-right-color: #75ff72;
  color: #83e681;
}

.react-chatbot-kit-chat-btn-send {
  border-bottom-right-radius: 15px;
}

/* 스크롤바 스타일링 */
.react-chatbot-kit-chat-container::-webkit-scrollbar {
  width: 5px;
}

.react-chatbot-kit-chat-container::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 63); /* 검정색 스크롤바 */
  border-radius: 5px; /* 둥글게 */
}

.react-chatbot-kit-chat-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.react-chatbot-kit-chat-inner-container ::-webkit-scrollbar {
  width: 5px;
}

.react-chatbot-kit-chat-inner-container ::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 63); /* 검정색 스크롤바 */
  border-radius: 5px; /* 둥글게 */
}

.react-chatbot-kit-chat-inner-container ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #75ff72;
  color: black;
}
.react-chatbot-kit-chat-message-arrow {
  border-right-color: #75ff72;
}
