.tag-box {
  width: 150px;
  height: 70px;
  border-radius: 50px;
  background-color: #75ff72;
  color: #000;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag-box.clicked {
  color: white;
  box-shadow: 0px 5px 5px 5px rgb(0, 0, 0, 0.5) inset;
}

.tag-box p {
  font-size: 30px;
  font-weight: bold;
}
